
<nav class="green darken-3" style="width: 100%;">
  <div style="width: 90%; margin:0 auto;">
    <a class="btn btn-primary" href="/">Strona główna</a>
    {% if current_user.is_authenticated %}
    <a class="btn btn-primary" href="{{ url_for('logout') }}">wyloguj</a>
    {% else %}
    <a class="btn btn-primary" href="{{ url_for('login') }}">login</a>
    <a class="btn btn-primary" href="{{ url_for('register') }}">register</a>
    {% endif %}
    <a class="btn btn-primary" href="{{ url_for('user_list') }}">Lista użytkowników</a>
    <a class="btn btn-primary" href="{{ url_for('add') }}">add</a>
    <a class="btn btn-primary" href="{{ url_for('list') }}">Lista wydatków</a>
  </div>
</nav>
<br><br>
